:root {
    --background-color: #0310c0;
    --darker-background-color: #01086d;
    --accent-color: #000653;
    --text-color: #FFFFFF;
    --backdark-backrground-colo: rgba(169, 169, 169, 0);
    --navbar-height: 80px;
    --gray-backgruond-color: rgba(128, 128, 128, 0.527);
}

.s {
    background-color: #010427;
}

section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
}

.mitte {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vi {
    width: 560px;
    height: 315px;
}

.teaser {
    width: 100%;
    height: 600px;
}

.link {
    color: var(--text-color);
}

* {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100%;
}

nav {
    height: var(--navbar-height);
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-variant: small-caps;
    text-decoration: none;
}

nav ul {
    margin-right: 80px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

nav li {
    height: 100%;
    width: 150px;
    text-align: center;
    position: relative;
}

nav li:hover {
    background: var(--accent-color);
}

nav ul a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.dropdown {
    height: min-content;
    width: 210px;
    background: var(--background-color);
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: var(--navbar-height);
}

.dropdown li {
    height: 70px;
    width: 100%;
}

.dropdown li a {
    justify-content: flex-start;
    padding-left: 30px;
    width: calc(100% - 30px);
}

nav li:hover .dropdown {
    display: flex;
}

nav input[type="checkbox"] {
    display: none;
}

.expandable_li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle_button {
    width: 30px;
    height: 23px;
    position: absolute;
    top: 25px;
    right: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.bar {
    height: 4px;
    width: 100%;
    background: var(--text-color);
    border-radius: 100px;
}

@media(max-width: 850px) {
    .toggle_button {
        display: flex;
    }
    nav ul {
        height: min-content;
        width: 100%;
        background-color: var(--background-color);
        display: none;
        position: absolute;
        top: var(--navbar-height);
    }
    nav li {
        height: min-content;
        width: 100%;
    }
    nav ul a {
        padding: 30px 0;
    }
    .expandable_li {
        display: block;
    }
    .expandable_li label {
        padding: 30px 0;
        cursor: pointer;
        display: block;
    }
    .expandable_li:hover .dropdown {
        display: none;
    }
    .expandable_li input[type="Medien_checkbox"]:checked~.dropdown {
        display: block;
    }
    .expandable_li input[type="checkbox"]:checked~.dropdown {
        display: block;
    }
    .dropdown {
        position: static;
        width: 100%;
    }
    .dropdown li {
        padding: 0;
        display: block;
        position: static;
        background: var(--darker-background-color);
    }
    .dropdown li a {
        width: 100%;
        padding: 0;
        justify-content: center;
    }
    #toggle_button:checked~ul {
        display: block;
    }
    .teaser {
        height: 200px;
    }
    .teaser img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .vi {
        width: 325px;
        height: 200px;
    }
    .vi iframe {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
}

.Zurück {
    padding: 0, 3em 0, 4em;
    border: 0, 5px solid #767676;
    border-radius: 0, 15em;
    background-color: #010cad;
    color: rgba(255, 255, 255, 0.671);
    font-size: 0, 84rem;
    text-decoration: none;
    cursor: pointer;
}

.Zurück:hover {
    background-color: #1c1c1c;
    color: white;
}


/*witer*/

body {
    color: white;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background-color: #1c1c1c;
    color: white;
}

.container {
    padding: 20px;
    text-align: center;
}

.mode-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}


/* Text color within .mein div */

.dark-mode .mein {
    color: white;
}


/* Default text color in light mode for .mein div */

.mein {
    color: black;
}
